# # .travis.yml
language: python


install:       # 安裝依賴
    # pip install -r requirements.txt
    # pip install wheel
    # pip install twine
    # python setup.py install
    # - pip install -e .
    pip install coverage
    # pip install coveralls
     # Print the environment.
    # - which python
    # - which pip

    # python3 -m pip install --user --upgrade setuptools wheel
    # - pip freeze

script: 
    # - coverage run --source=slumber setup.py test
    #python -m unittest -v --source=. tests/testAll.py  # 如果有單元測試這裡應該執行單元測試
    #coverage run -m unittest discover --source=. tests/testAll.py
    #
    pytest




after_success:
  coveralls
  coverage report
  coverage combine

deploy:
    skip_existing: true
    provider: pypi
    user: jennie
    password: Lj4dzLwqsAHJ36r  
    distributions: sdist bdist_wheel
        
# "sdist bdist_wheel" 
# on:
#     tags: false
#     branch: dev
# os: windows
#   language: sh
#   python: "3.8"
#   before_install:
#         - choco install python3
#         - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
#         - python -m pip install --upgrade pip wheel
